<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <main>
      <h1>Prueba Buscar</h1>
      <form action="/busqueda" method="get" class="flex j-c-c">
        <input type="text" name="busqueda" />
        <input type="submit" value="Enviar" />
      </form>
    </main>
  </body>
</html>
