<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <main>
      <h1>Home</h1>
      <section class="flex j-c-c gap">
        <a href="/buscar"><article class="border">Buscar</article></a>
        <a href="/mostrarTodos"
          ><article class="border">Mostrar Todo</article></a
        >
        <a href="/formulario"><article class="border">Agregar</article></a>
        <a href="/editar"><article class="border">Editar</article></a>
      </section>
    </main>
  </body>
</html>
