<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <main>
      <h1>Muestra Todo</h1>
      <% dataClients.forEach(cliente => { %>
      <h2><%= cliente.nombre %></h2>
      <h2><%= cliente.apellido %></h2>
      <h2><%= cliente.edad %></h2>
      <br />
      <% }) %>
    </main>
  </body>
</html>
